body {
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}

footer {
  background: black;
  color: white;
  padding-bottom: 3px;
  margin: auto 0px 0px 0px;
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
}

th{
  background-color: #4d4d4d;
  color: #f0ad4e;
}

td {
  text-align: center;
}

h1 {
  font-style: italic;
  text-shadow: 1px 1px #666, 3px 3px #5cb85c, 4px 4px #666, 5px 5px #000000;
  background-color: #595959;
  opacity: .98;
  border-top-right-radius: 65px;
  border-top-left-radius: 65px;
  padding: 15px;
}

a {
  color: white;
}

label {
  color: #ffffff;
  font-size: 20px;
  text-shadow: 1px 2px #000000;
  font-style: italic;
}


p {
  color: white;
  text-align: justify;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  font-family: arial;
}

.formulario {
  padding-top: 15px;
  padding-bottom: 15px;
  width: 820px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  background-color: #595959;
  opacity: .98;
  border-top-right-radius: 80px;
  border-bottom-right-radius: 90px;
  border-bottom-left-radius: 80px;
}


.titulo {
  text-align: right;
  background-color: #d9d9d9;
  color: #cc0000;
  width: 320px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 1px;
  border-color: black;
  border: solid 2px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  border-bottom-left-radius: 15px;

}

.valor_total {
  text-align: center;
  color: #cc0000;
  background-color: #d9d9d9;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  width: 160px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  border-top: solid 1px;
  border-bottom: solid 2px;
  border-left: solid 2px;
  border-right: solid 2px;
}

h5 {
  width: 760px;
  margin-top: 0px;
  margin-right: auto;
  margin-bottom: 0px;
  margin-left: auto;
  padding: 10px;
  font-size: 18px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  border-style: solid;
  border-color: black;
  border-width: 3px;
}

.vuelto {
  font-size: 28px;
}

.tabla {
  margin-top: 10px;
  background-color: white;
  border-radius: 5px;
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #ddd;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {display: block;}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {background-color: #3e8e41;}
