@charset "ISO-8859-1";
/* CSS Document */

body {
  background-image: url("../img/login1.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: center center;
}



h2 {
  font-style: italic;
  text-shadow: 2px 2px #000000;
  margin-left: 55px;
}

label {
  color: #ffffff;
  font-size: 18px;
  text-shadow: 1px 2px #000000;
}


p {
  color: white;
  text-align: justify;
  margin-top: 20px;
  font-weight: bold;
  font-size: 18px;
  font-family: arial;
}
